ul {
  list-style: none;
}
.main_box {
  background-color: beige;
}
.flex_contener {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main_text {
  text-align: center;
}
.paragraf {
  text-align: center;
  margin-bottom: 50px;
}
.list_box {
  width: 400px;
  background-color: var(--sub-txt-color);
  margin-left: 30px;
  margin-bottom: 30px;
}

.list_box:nth-child(3n) {
  margin-right: 0px;
}
.list_box:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.pictures_text {
  margin-left: 37px;
  margin-top: 5px;
}
.macet {
  color: #ff0000;
  margin-bottom: 27px;
  margin-left: 65px;
  margin-top: 20px;
}